@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Restaurant Recipes</h1>
    <p>Learn more about our other services <a href="https://softavnetworks.com">building Web apps with ASP.NET Core</a>.</p>
</div>
